@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .menu-toggle {
    display: none;
  }
  .header {
    width: 768px;
  }
  .nav {
    padding: 0 32px;
  }
  .nav-list {
    display: inline-flex;
  }
  .hero-page {
    width: 768px;
    background-image: url(../image/Group_bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 60px 0 143px 0;
  }

  .hero {
    font-size: 40px;
  }
  .sub-hero {
    font-size: 20px;
  }
  .text-hero {
    font-size: 14px;
  }
  .hero-list {
    margin-bottom: 62px;
  }
  .hero-list-item {
    width: 100%;
  }
  .hero-list-item:not(:last-child) {
    padding-bottom: 14px;
  }
  .hero-list-item:nth-child(2n) {
    width: 100%;
  }
  .btn-download {
    margin: 0;
  }
  .modal {
    width: 568px;
    min-height: 970px;
    transform: translate(-50%, -25%) scale(1);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
  .header {
    width: 1280px;
  }
  .nav {
    padding: 0 16px;
  }
  .hero-page {
    width: 1280px;
  }
  .hero-page {
    padding: 145px 0 146px 0;
  }
  .modal {
    transform: translate(-50%, -35%) scale(1);
  }
}
