:root {
  --white: #fff;
  --black: #000;
  --bg: #06071b;
  --linear: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}
body {
  font-family: "Inter", sans-serif;
  color: var(--black);
  background-color: var(--white);
}
a {
  text-decoration: none;
  color: var(--white);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  font-family: inherit;
}
.container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header,
.hero-page {
  color: var(--white);
  background-color: var(--bg);
}
.section-three {
  color: var(--white);
  background-color: var(--bg);
}
.list-team li {
  color: var(--white);
  background-color: var(--bg);
}
.footer {
  color: var(--white);
  background-color: var(--bg);
}

/* Header */

.header > .container {
  padding: 20px 0 0 0;
}
.header {
  width: 320px;
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
  padding: 0 20px 0 20px;
}
.logo {
  display: inline-flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: #ffffff;
}
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 14px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 24px 0;
  margin-left: auto;
}
.btn-toggle {
  stroke: var(--white);
}
.nav-list {
  display: inline-flex;
  gap: 40px;
  padding: 24px 0 23px 0;
  margin-left: auto;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: none;
}

/* Hero */
.hero-page {
  width: 320px;
  margin: 0 auto;
}

.hero-page {
  padding: 100px 0 127px 0;
  background-image: url(../image/iPhone.png), url(../image/Gr.png);
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-position: 20px 12px;
}

.hero {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}
.sub-hero {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
}
.text-hero {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-list {
  margin-bottom: 40px;
}

.hero-list-item {
  position: relative;
  padding-left: 23px;
  width: 250px;
}
.list-arrow1 {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
}
.list-arrow {
  fill: var(--white);
}

.hero-list-item:not(:last-child) {
  padding-bottom: 8px;
}
.hero-list-item:nth-child(2n) {
  width: 230px;
}
.btn-download {
  display: block;
  cursor: pointer;
  text-align: center;
  min-width: 200px;
  height: 42px;
  color: var(--white);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 5px;
  background: var(--linear, linear-gradient(99deg, #00c5eb 0%, #b544fe 100%));
  margin: 0 auto;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
/* .btn-download:hover {
  background: var(--bg);
  border: 2px solid transparent;
  border-image: var(--linear, linear-gradient(99deg, #00c5eb 0%, #b544fe 100%));
  border-image-slice: 1;
} */
/* закруглить углы через бордер-радиус нельзя. блок с border-image 
  обернуть в div, а div'у задать нужное округление и overflow: hidden; */

.btn-download:focus.btn-download::before,
.btn-download:hover.btn-download::before {
  content: "Download";
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 10px;
  position: absolute;
  width: 198px;
  height: 40px;
  border-radius: 5px;
  background: var(--bg);
  top: 1px;
  left: 1px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-download:active.btn-download:before {
  background: var(--linear, linear-gradient(99deg, #00c5eb 0%, #b544fe 100%));
}
/* Menu burger */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  background-image: url(../image/bg-burger.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  /* background-attachment: local; */
  padding: 34px 20px;
  z-index: 999;
  transform: translateX(100%);
  overflow: auto;
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0%);
}
.menu-container .btn-menu-close {
  position: absolute;
  top: 34px;
  right: 20px;
}
/* .menu-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 375px;
  top: 354px;
  filter: blur(110.5px);
  z-index: -1;
  background: rgba(0, 197, 235, 0.3);
} */

.btn-menu-close {
  cursor: pointer;
  display: flex;
  /* width: 32px; */
  height: 32px;
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.btn-close {
  fill: var(--white);
}
.menu-list {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.menu-item {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}
/* .menu-item:hover {
  background-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
} */
.current {
  background-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
/* modal window */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  min-height: 1639px;
  transform: translate(-50%, -15%) scale(1);
  background-color: var(--bg);
  padding: 48px 24px;
  border: 2px solid transparent;
  border-image: var(--linear, linear-gradient(99deg, #00c5eb 0%, #b544fe 100%));
  border-image-slice: 1;
  overflow-y: hidden;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.btn-modal {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-modal {
  fill: var(--white);
}
.modal-title {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
}
.modal-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

/* Festures */
/* .features > .container {
  width: 320px;
} */
.features {
  width: 320px;
  padding-top: 111px;
  background-image: url(../image/Groupdes.png);
  background-repeat: no-repeat;
  background-size: 280px 406px;
  background-position: 27px 350px;
  margin: 0 auto;
}
.features-title {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.features-text {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
  margin-bottom: 493px;
}

.features-list {
  display: flex;
  gap: 44px;
  flex-direction: column;
  outline: 1px solid red;
}
.features-list-title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.43;
  padding-left: 40px;
  margin-bottom: 12px;
}
.features-list-text {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 40px;
}
.features-list-item {
  position: relative;
}

.features-list-title::before {
  content: url("../image/Gear.png");
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  top: -5px;
}
